<footer>

    <div class="f-socials">

        <i class="fa-brands fa-square-facebook"></i>&nbsp;&nbsp;
        <i class="fa-brands fa-square-instagram"></i>&nbsp;&nbsp;
        <i class="fa-brands fa-linkedin"></i>

    </div>

    <div class="f-brand-copy">

        <span> &#169; WanderLust Private Limited </span>

    </div>

    <div class="f-terms">
        <a href="/privacy">Privacy</a>&nbsp;&nbsp;
        <a href="/terms">Terms</a>
    </div>
</footer>