<% layout('layout/boiletplate.ejs')%>

<div class="alert alert-danger d-flex align-items-center mt-4 column=6 offset=3" role="alert">
   
    <div>
        <i class="fa-solid fa-triangle-exclamation"></i>
      <%= message  %>
    </div>
  </div>